<div class="auth-container">
  <div class="auth-image"></div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1 class="card-title">Funny App</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>person</mat-icon>
            <span>Sign Up</span>
          </ng-template>
          <app-sign-up-form></app-sign-up-form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
